apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: jks-change-permission
  namespace: {{jenkins_namespace}}
  labels:
    app: jenkins
spec:
  serviceName: jks-change-permission
  replicas: 1
  selector:
    matchLabels:
      app: jenkins
  template:
    metadata:
      labels:
        app: jenkins
      annotations:
    spec:
      volumes:
      - name: jenkins-data
        persistentVolumeClaim:
          claimName: jenkins-data
      containers:
      - image: busybox
        volumeMounts:
        - name: jenkins-data
          mountPath: /data
          readOnly: false
        name: jenkins-permission
        command:
        - sh
        - -c
        - chown 1000:1000 /data && sleep 3600
        imagePullPolicy: IfNotPresent 
