apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  annotations:
    volume.beta.kubernetes.io/storage-provisioner: csi.weka.io
  finalizers:
  - kubernetes.io/pvc-protection
  name: jenkins-data
  namespace: {{jenkins_namespace}}
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 30Gi
  storageClassName: {{jenkins_storageclass}} #storageclass-n3-sgcp-mgmt-default
  volumeMode: Filesystem
