apiVersion: v1
kind: Secret
metadata:
  name: "{{ wekafs_secret }}"
  namespace: "{{ wekafs_namespace }}"
type: Opaque
data:
  # username to connect to the cluster API (base64-encoded)
  username: "{{ weka_username_base64.stdout }}"
  # password to connect to the cluster API (base64-encoded)
  password: "{{ weka_password_base64.stdout }}"
  # organization to connect to (default Root, base64-encoded)
  organization: Um9vdA==
  # comma-separated list of cluster management endpoints in form of <IP:port> (base64-encoded)
  # It is recommended to configure at least 2 management endpoints (cluster backend nodes), or a load-balancer if used
  # e.g. 172.31.15.113:14000,172.31.12.91:14000
  endpoints: "{{ weka_endpoint_base64.stdout }}"
  # protocol to use for API connection (may be either http or https, base64-encoded)
  scheme: aHR0cA==

