apiVersion: apps/v1
kind: Deployment 
metadata:
  name: {{ type }}-gds-test-pod-{{ node }}
  #namespace: diag-infra
  labels:
    app: gds-test
spec:
  selector:
    matchLabels:
      app: gds-test
  template:
    metadata:
      labels:
        app: gds-test
      annotations:
        k8s.v1.cni.cncf.io/networks: '[
                {"name": "sriov-gpu-ib0", "interface": "net1"},
                {"name": "sriov-gpu-ib1", "interface": "net2"}
        ]'
    spec:
      hostIPC: true
      containers:
      - image: {{ harbor_url }}/mzc/diag-infra:2.0 
      #- image: n4-repo.spcinfra.cloud:32052/sgcp/gds:0.3 
        name: gds
        securityContext:
          capabilities:
            add: [ "IPC_LOCK" ]
          privileged: true
        resources:
          requests:
            openshift.io/gpu_mlnx_ib0: '1'
            openshift.io/gpu_mlnx_ib1: '1'
            nvidia.com/gpu: 8
          limits:
            openshift.io/gpu_mlnx_ib0: '1'
            openshift.io/gpu_mlnx_ib1: '1'
            nvidia.com/gpu: 8
        command:
        - /bin/bash
        - -c
        -  mkdir -p /data/gdsio && sleep inf
        volumeMounts:
        - name: certificates
          mountPath: /usr/share/ca-certificates/proxysg/SRnD_Web_Proxy.crt
        - name: pv-diag-infra
          mountPath: /mnt/
        - name: mount-test
          mountPath: /data
        - name: udev
          mountPath: /run/udev
          readOnly: true
        - name: diag-infra
          mountPath: /var/log/diag-infra
      imagePullSecrets:
      - name: harbor-regcred
      nodeSelector:
        nvidia.com/gpu.present: "true"
      volumes:
      - name: certificates
        hostPath:
          path: /usr/share/ca-certificates/proxysg/SRnD_Web_Proxy.crt
      - name: pv-diag-infra
        persistentVolumeClaim:
          claimName: pvc-static-diag-infra
      - name: mount-test
        persistentVolumeClaim:
          claimName: weka-dynamic-pvc-test
      - name: udev
        hostPath:
          path: /run/udev
      - name: diag-infra
        hostPath:
          path: /var/log/diag-infra
      nodeName: {{ node }}

