apiVersion: v1
kind: PersistentVolume
metadata:
  name: weka-static-pv 
spec:
  accessModes:
  - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  storageClassName: {{ default_sc }} 
  volumeMode: Filesystem
  capacity:
    storage: 10Gi
  csi:
    driver: csi.weka.io
    volumeHandle: dir/v1/n6-default/weka-static-pv-test
    #nodePublishSecretRef:
    #  name: "csi-wekafs-api-secret"
    #  namespace: "csi-wekafs"

