---
- name: Diag Func | Copy Test python files on node
  copy:
    src: diag-infra.tar.gz
    dest: /mnt/diag-infra.tar.gz

- name: Diag Func | Extract Test python files on node
  unarchive:
    src: diag-infra.tar.gz
    dest: /mnt/
    #remote_src: yes
  become: yes

- name: Install dotenv python package on version 0.11
  ansible.builtin.pip:
    name: python-dotenv

- name: Diag Func | Testing network function on host
  #shell: python3 /mnt/diag-infra/func_host_network_ethenet.py --target_group={{ node }} --log=stdout
  shell: python3 /mnt/diag-infra/func_host_network_ethenet.py --target_group=sra100-00[1:9] --interface=bond  --log=file --sampling=3 --diag_id={{ DiagID }} --ntags={{ ntags}} 
  register: network_host_test
  tags: func_host_network_ethenet 

- debug:
    msg: "{{ network_host_test }}"
