---
- name: Diag Func | Copy to node for deploy yaml 
  template:
    src: gds_pod.yaml.j2
    dest: /tmp/gds-pod-{{ansible_hostname}}.yaml
  become: yes
  vars:
    type: perf
    node: "{{ansible_hostname}}"

- name: Diag Func - weka[dynamic] | Copy to node for deploy pvc yaml
  template:
    src: gds_pvc.yaml.j2
    dest: /tmp/weka_dynamic_pvc.yaml
  become: yes

- name: Diag Func - weka[dynamic] | Deploy weka-pvc on kubernetes
  shell: kubectl apply -f  /tmp/weka_dynamic_pvc.yaml -n default
  become: yes
  run_once: true
  
- name: Diag Func | Deploy test gds pod on kubernetes
  shell: kubectl apply -f  /tmp/gds-pod-{{ item }}.yaml
  become: yes
  with_items:
    - "{{ansible_hostname}}"
  run_once: true

- name: Diag Func | get test pod on kubernetes
  shell: kubectl get pod -n default  | grep perf-gds-test | awk '{print $1}' 
  become: yes
  register: pod_name
  run_once: true

- name: Diag Func | Waiting for pod condition is ready
  shell: kubectl get pods | grep perf-gds-test | awk '{print $3 }'
  register: kubectl_status
  retries: 10
  until:  kubectl_status.stdout  == "Running"
  run_once: true

- name: Diag Func | Perf GDS Throughput
  shell: kubectl exec -it {{ pod_name.stdout }} -- python3 /mnt/diag-infra/perf_k8s_pod_network_gds.py --log=file --diag_id={{ DiagID }} --ntags={{ntags}}
  register: pod_log
  run_once: true
  

- name: Diag Func | print pod log
  debug: "msg='{{ pod_log }}'"
  run_once: true
 
- name: Diag Func | Delete gds pod on kubernetes
  shell: kubectl delete -f  /tmp/gds-pod-{{ item }}.yaml
  become: yes
  with_items:
    - "{{ansible_hostname}}"
  run_once: true

- name: Diag Func  | Delete weka-pvc on kubernetes
  shell: kubectl delete -f  /tmp/weka_dynamic_pvc.yaml -n default
  become: yes
  run_once: true


