---

- name: teleport | debugs
  debug:
    var: "{{ teleport_token }}"
  run_once: true
  when: teleport_token is defined

- name: teleport | Checking teleport config stats
  stat:
    path: { teleport_config_dir }
  register: teleport_config
  when: teleport_token is defined

- name: teleport | Generate teleport config
  shell: teleport configure --output=$HOME/.config/node_config.yaml --roles=node --token={{ teleport_token }} --auth-server="{{ teleport_service_url }}":443 --data-dir=$HOME/.config
  when: teleport_token is defined and teleport_config.stat.exists
  ignore_errors: true
  register: teleport_config_file

- name: teleport | Generate systemd service for teleport
  template:
    src: teleport.service.j2
    dest: /etc/systemd/system/teleport.service
    mode: 0644
  when: teleport_config_file.changed

- name: teleport | Ensure teleport is started and enabled
  systemd:
    name: teleport
    daemon_reload: yes
    enabled: yes
    state: started
  when: teleport_config_file.changed
